{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="noisy">
    <section class= "hPromoBox">
        <div class="promoAnim">Les soldes d'hivers sont là!</div>
        <div class="hPromo">
            <h2>Profitez de 20% sur nos soldes spécial fin d'année.</h2>
            <a href="{{ path('products') }}">SHOP NOW</a>
        </div>
    </section>
</div>
<section class="showBoxHome spaceShowB">
    <h1>Collections</h1>
    <div class="boxHome">
        <div class="boxHomeL">
            <figure><img src="/assets/img/home.jpg"></figure>
            <section>
                <h2>meubles</h2>
                <a href="{{ path('products') }}">shop now</a>
            </section>
        </div>        
        <div class="boxHomeR">
            <i class="fas fa-chevron-right"></i>
        </div>
    </div>
</section>
<section class="showBoxHome">
    <h1>Eclairage</h1>
    <div class="boxHome">
        <div class="boxHomeL">
            <figure><img src="/assets/img/lightSalon.jpg"></figure>
            <section>
                <h2>Salon</h2>
                <a href="{{ path('products') }}">shop now</a>
            </section>
        </div>        
        <div class="boxHomeR">
            <i class="fas fa-chevron-right"></i>
        </div>
    </div>
</section>
<script src="/assets/js/home.js"></script>
{% endblock %}
