.displayNo {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #F6F6F6;
}

.headerB {
  padding: 10px 20px 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: white;
}

.menuOpened {
  display: none;
  background-color: white;
  width: 100%;
  z-index: 10;
  position: relative;
}
.menuOpened ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  padding: 0px 10%;
}
.menuOpened ul :nth-child(3) {
  color: #f59494;
}
.menuOpened ul li {
  list-style: none;
  padding-bottom: 20px;
  font-family: agenda, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  margin: 16px 10px 0px 10px;
  letter-spacing: 2px;
}

.logoHead {
  font-family: tuppence, serif;
  font-size: 33px;
  color: #707070;
  margin-bottom: 6px;
}

#basketInfo {
  background-color: #81ffd5;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  transform: translate(-5px, 0%);
}
#basketInfo p {
  font-family: agenda, sans-serif;
  font-size: 11px;
  text-align: center;
}

.accHead {
  display: flex;
  justify-content: flex-end;
}
.accHead .accName {
  margin: 6px 0px 0px 0px;
}
.accHead figure {
  display: flex;
  margin: 0px 0px 0px 20px;
}

.accHead a {
  letter-spacing: 1px;
  font-family: agenda, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
}

.icHead {
  font-size: 20px;
}

.baseFooter {
  width: 100%;
  margin-top: 30px;
  padding-top: 30px;
}

.baseFooter header h1 {
  font-family: kudryashev-d-contrast, sans-serif;
  font-size: 25px;
  text-align: center;
}

.baseFooter header div {
  display: flex;
  justify-content: center;
  font-size: 28px;
}
.baseFooter header div i {
  margin: 30px 20px 30px 20px;
  animation: bounceIcon 9s cubic-bezier(0.28, 0.84, 0.42, 1) infinite;
}
@keyframes bounceIcon {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  72% {
    transform: scale(1, 1) translateY(0);
  }
  76% {
    transform: scale(0.9, 1.1) translateY(-10px);
  }
  85% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  90% {
    transform: scale(1, 1) translateY(-3px);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

.baseFooter figure {
  background-color: #BBFFE3;
  padding: 10px 0px 20px 0px;
  border: 1px dotted;
  border-left: none;
  border-right: none;
  margin-bottom: 40px;
}
.baseFooter figure h1 {
  font-family: tuppence, serif;
  font-size: 33px;
}
.baseFooter figure h2 {
  font-family: agenda, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
}

.baseFooter nav {
  width: 100%;
}

.baseFooter nav section {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.baseFooter nav section div {
  display: flex;
  width: 100%;
}

.baseFooter nav section div li {
  display: flex;
  list-style: none;
  font-family: agenda, sans-serif;
  font-size: 14px;
  color: #000000;
  line-height: 21px;
  display: flex;
  justify-content: center;
}
.baseFooter nav section div li a {
  text-align: center;
}

#styleCatalogue {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0px 15px;
}
#styleCatalogue li {
  margin: 0px 10px;
  list-style: none;
}

#catalogueStyle {
  background-color: #ffffff;
  border-top: 1px dotted black;
  padding-bottom: 20px;
}

#catalogueStyle div ul li a {
  font-family: arponasans, sans-serif;
  text-transform: uppercase;
  line-height: 30px;
  font-size: 12px;
  color: #707070;
}

#catalogueStyle h1 {
  font-family: kudryashev-d-contrast, sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 30px 0px;
  font-size: 28px;
  margin: 45px 0px 0px 0px;
}

.baseFooter nav section div ul {
  width: 50%;
  margin: 26px;
}

.baseFooter nav section h1 {
  font-family: arponasans, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #707070;
  font-size: 25px;
  margin: 30px 0px 20px 46px;
  text-align: start;
}

.baseFooter footer {
  background-color: black;
}

.baseFooter footer h1 {
  font-family: tuppence, serif;
  font-weight: 200;
  font-size: 43px;
  text-align: center;
  color: #ffffff;
  padding: 35px 0px 0px 0px;
}
.baseFooter footer h1 span {
  font-size: 33px;
  text-decoration: dotted;
  color: #437269;
}
.baseFooter footer h1 span span {
  margin: 0px 8px 0px 12px;
}

.baseFooter footer p {
  font-family: tuppence, serif;
  font-size: 14px;
  color: #555b5b;
  text-align: center;
  padding-bottom: 20px;
}

.baseFooter footer h2 {
  font-family: agenda, sans-serif;
  font-size: 14px;
  color: #707070;
  text-align: center;
  padding-bottom: 40px;
}

#goTop {
  background: #d0d0d0;
  width: 35px;
  height: 35px;
  position: fixed;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  right: 3%;
  bottom: 5%;
  animation: goTop 1s ease-in-out 1;
  display: none;
}
@keyframes goTop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes popOff {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes popOn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    display: inline-grid;
  }
}
@media (min-width: 600px) {
  .baseFooter nav section h1 {
    font-family: arponasans, sans-serif;
    text-transform: uppercase;
    color: #707070;
    font-size: 25px;
    text-align: center;
    margin-top: 35px;
  }

  .baseFooter nav {
    width: 100%;
    display: flex;
    border-top: 1px dotted black;
  }

  #espaceClientRes {
    border-right: 1px dotted black;
  }
}
#cursor {
  display: none;
}

@media (min-width: 800px) and (hover: hover) and (pointer: fine) {
  #cursor {
    display: block;
    z-index: 99;
    position: fixed;
    left: 0;
    top: 0;
  }

  #cursor .cursor--inner {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: #BBFFE380;
  }
}
@media (min-width: 800px) {
  .cursor--point {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #000000;
    position: absolute;
    z-index: 100;
    pointer-events: none;
    will-change: transform;
  }
}
@media (min-width: 1025px) {
  .headerB {
    padding: 10px 60px 0px 60px;
    height: 65px;
  }

  .logoHead {
    margin-bottom: 10px;
  }

  .shopMain {
    padding: 0px 55px;
  }

  .shopNav ul {
    margin-top: 35px;
    border-top: 1px dotted black;
  }
}

/*# sourceMappingURL=base.css.map */
