{% extends 'base.html.twig' %}

{% block title %}Erreur - Glaira{% endblock %}

{% block body %}
    <h1>Page Introuvable</h1>
    <p>Désolé mais cette page n'existe pas. Venez plutot faire un tour par ici!</p>
    <a href="{{ path('products') }}">Shop</a>
{% endblock %}