@use 'variables.scss';
// Shop start
.shopNav {
    display: flex;
    flex-direction: column;
}
.shopNav h1 {
    font-family: kudryashev-d-contrast, sans-serif;
    font-size: 43px;
    text-align: center;
    margin-top: 20px;
}
.shopNav div {
    display: flex;
    justify-content: space-evenly;
}
.shopNav button {
    font-family: arponasans, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid black;
    padding: 9px 20px;
    background-color: variables.$w;
}
#filterList {
    display: none;
}
#string {
    border: none;
    border-bottom: 1px Solid black;
    text-align: center;
    background: none;
    padding-bottom: 5px;
    margin: 20px 0px 3px 0px;
    font-family: arponasans, sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    width: 180px;
}
#categories {
    display: block;
}
#categories label {
    margin: 10px 15px;
}
#submit {
    margin: 20px 0px;
}
.paddFilter {
    padding: 30px 40px;
    border-bottom: 1px dotted black;
}
.shopNav ul {
    margin-top: 20px;
    border-top: 1px solid black;
}
.shopNavLiHack li {
    font-family: agenda, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 1px solid black;
    text-align: center;
    list-style: none;
    padding: 9px 20px;
}
#filterList li {
    font-family: agenda, sans-serif;
    font-size: 14px;
    text-align: center;
    list-style: none;
    padding: 9px 20px;
    background-color: aquamarine;
}
.paddFilter {
    padding: 30px 40px;
}
.filterDiv {
    display: flex;
}
#sortList {
    display: none;
}
#filterBtnCheck {
    font-size: 11px;
    padding: 6px 9px;
    margin-top: 15px;
    margin-bottom: 5px;
    border: 1px dotted;
    background: none;
}
// DISPLAY SHOP
.shopMain {
    width: 325px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}
.shopMain div {
    width: 150px;
    margin: 10px 0px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;}
.shopMain figure {

    width: 100%;
    height: 150px;
    background-color: rgb(255, 255, 255);
}
.shopMain figure img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.shopMain h1 {
    font-family: arponasans, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    background-color: variables.$blue;
    padding: 4px 0px;
}
.buyBox {
    height: 45px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.buyBox div {
    height: 45px;
    width: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    :nth-child(2) {
        background-color: variables.$b;
        color: variables.$w;
    }
}
.buyBox h2, .buyBox p, .buyBox a {
    font-family: arponasans, sans-serif;
    font-size: 8px;
    text-transform: uppercase;
    text-align: center;
    width: 75px;
}
.buyBox p, .buyBox a {
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}


// Zoom on product page 
.zoomProduct header {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: arponasans, sans-serif;
    text-transform: uppercase;
    font-size: 25px;
}
.zoomProduct header {

}
.zoomProduct figure {
    width: 100%;
    height: 300px;
    background-color: white;
    padding: 0px 40px;
    margin-top: 20px;
	animation: zoomProd 1s ease 1;
	}
	@keyframes zoomProd {
		0% {
            padding: 0px 100px;
            opacity: 0;
		}
        70% {
            opacity: 1;
        }
		100% {
            padding: 0px 40px;
		}
}
.zoomProduct figure img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.zoomProduct section {
    margin: 30px 60px;
}
.zoomProduct h2 {
    font-family: arponasans, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    color: variables.$gris;
}
.zoomProduct h3 {
    font-family: arponasans, sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 20px;
}
.zoomProduct div {
    justify-content: space-evenly;
    flex-direction: column;
    display: flex;
    
}
.zoomProduct div a {
    font-family: arponasans, sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    padding: 10px 20px;
    border: 1px dotted black;
    text-align: center;
}
.zoomPanierBtn {
    margin-top: 30px;
    background-color: aquamarine;
}
.zoomBuyBtn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
}
.zoomProduct footer {
    margin: 30px 60px;
}
.zoomProduct footer h1 {
    font-family: arponasans, sans-serif;
    text-transform: uppercase;
    font-size: 16px;
}
.zoomProduct footer p {
    font-family: agenda, sans-serif;
    font-size: 14px;
}
